$background-gradient-1: #0bf;
$background-gradient-2: #00c6fd;
$background-gradient-3: #00b1ff;
$text-color: white;
$sun-color: #ffeb00;
$semi-transparent: rgba(255, 255, 255, 0.4);
$semi-transparent-focus: rgba(255, 255, 255, 0.5);
$heart-red: rgb(243, 22, 22);
$notification-warning: rgba(231, 0, 0, 0.7);
$notification-warning-focus: rgba(231, 0, 0, 0.8);
$dark-overlay: rgba(0, 0, 0, 0.4);
