$box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
$box-shadow-focus: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
$font-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$favourites-shadow: -6px 0 12px 0 rgba(0, 0, 0, 0.4);

.hidden {
  display: none;
}

.visible {
  display: block;
}
